* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    width: 100%;
    color: blue;
}

main {
    width: 80%;
    margin: 1rem auto;
    padding: .5rem;
    border: 1px dodgerblue solid;
    border-radius: 15px;
    background-color: black;
}

#container, section {
    display: flex;
    justify-content: space-around;
}

#container section:first-child {
    flex-wrap: wrap;
}

#container {
    flex-direction: column;
}

section {
    margin: .5rem;
}

#screen {
    background-color: #AAFFCC;
    box-shadow: inset 5px 5px white;
    flex-grow: 1;
    margin: 0 1rem;
    justify-content: flex-end;
}

section span, section div {
    height: 12vh;
    font-size: 6vh;
    border: 1px #AAFFCC solid;
    border-radius: 10px;
    box-shadow: 2px 2px #AAFFCC;
    background: #008080;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 22%;
}

section span:hover, section div:hover {
    border: 1px white solid;
    box-shadow: none;
}

section span:last-child {
    background: #5FD3BC;
}

.red {
    color: red;
}

.red span {
    background: #5FD3BC;
}

.nbr {
    background: white;
}

#equal, section .item:first-child {
    flex-basis: 47%;
}

#equal {
    background: red;
    color: white;
}

@media screen and (max-width: 600px) {
    main {
        width: 100%;
    }

    #reset + div {
        font-size: 4vh;
    }
}
